# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/

# Build/coverage (if used)
dist/
build/
coverage/